<table class="table table-striped table-hover">
    <tr>
        <td><b>שם מלא</b></td>
        <td>    @ViewBag.corItem.firstName @ViewBag.corItem.lastName</td>
    </tr>
    <tr>
        <td><b>תעודת זהות</b></td>
        <td>    @ViewBag.corItem.id</td>
    </tr>
    <tr>
        <td><b>אימייל</b></td>
        <td>   @ViewBag.corItem.email</td>
</tr>
    <tr>
        <td><b>סיסמה</b></td>
        <td>   @ViewBag.corItem.user1.password</td>
</tr>
    <tr>
        <td><b>טלפון</b></td>
        <td>    @ViewBag.corItem.phone</td>
</tr>
    <tr>
        <td><b>כתובת</b></td>
        <td>     @ViewBag.corItem.address</td>
</tr>
    <tr>
        <td><b>תפקיד</b></td>
        <td>   @ViewBag.corItem.role</td>
</tr>
    <tr>
        <td><b>הרשאה</b></td>
        <td>   @ViewBag.corItem.user1.rank</td>
</tr>
</table>

