@model Shiftim.Models.Worker

@{
    ViewBag.Title = "עריכת עובד";
}

<h2>עריכת עובד</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.firstName)
        <div class="form-group">
            <label class="control-label">שם פרטי:</label>
            <div class="col-md-11" disabled>
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">שם משפחה:</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group " >
            <label class="control-label">תעודת זהות:</label>
            <div class="col-md-11" >
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group " >
            <label class="control-label">אימייל:</label>
            <div class="col-md-11" >
                @Html.EditorFor(model => model.email, new { htmlAttributes =  new { @class = "form-control" , disabled = "disabled"  } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">סיסמה:</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.user1.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.user1.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label ">כתובת:</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label ">טלפון:</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">תפקיד:</label>
            <div class="col-md-11">
                @Html.DropDownListFor(model => model.role, new List<SelectListItem> {
                       new SelectListItem { Text = "ברמן" },
                       new SelectListItem { Text = "מלצר" },
                        new SelectListItem { Text = "טבח" },
                       new SelectListItem {Text = "שף" },
                        new SelectListItem { Text = "שוטף כלים" },
                         new SelectListItem { Text = "אחראי משמרת" }
                    }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="שמור" class="btn btn-warning" />
                <h3 class="text-danger"> @ViewBag.Msg</h3>
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default btn-sm" onclick="location.href='@Url.Action("ListOfWorker","Manager")'"><i class="glyphicon glyphicon-backward"></i>&nbsp;חזור לרשימת עובדים </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
